/* General Styles */
* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

/* Styling for the section containing the form */
#cronJobSection {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling the heading */
#cronJobSection h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

/* Styling the form itself */
#cronJobForm {
    display: flex;
    flex-direction: column;
}

/* General input styling */
#cronJobForm label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
}

#cronJobForm input {
    margin-bottom: 16px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

/* Styling the terminal output section */
.terminal-out {
    scroll-behavior: auto;
    word-wrap: anywhere;
    margin-top: 20px;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    height: 150px;
    overflow: auto;
    max-height: 200px; /* Adjust as needed */
    text-align: left;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin-left 0.3s ease;
}

.container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    display: none;
}

.container.active {
    display: block;
}

h1 {
    margin-bottom: 20px;
    color: #212121;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: #212121;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

#output::-webkit-scrollbar {
    width: 8px;
}

#output::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#output::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

#output::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

#output p {
    margin: 5px 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    font-size: 16px;
}

th, td {
    padding: 10px;
    text-align: left;
}

td {
    font-weight: normal;
}

th {
    background-color: #212121;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/*nav css*/
.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #212121;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu > ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #000000;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .main-menu {
        width: 100%;
        height: 6%;
        /*position: relative;*/
    }

    .main-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .main-menu li {
        display: inline;
        width: auto;
    }

    .main-menu li > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 7px;
    }

    .main-menu .nav-icon {
        width: auto;
        height: auto;
        font-size: 24px;
    }

    .main-menu .nav-text {
        display: none;
    }

    .content {
        margin-left: 0;
        padding-top: 60px;
    }

    .main-menu:hover, nav.main-menu.expanded {
        width: 100%;
        overflow: visible;
    }
}

#videoStream {
    max-width: 100%;
}
